<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/Course-style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<title>Data Structures</title>
</head>
<body>
	<section id="header">
	 <header id="header1">
     	<div class="navigation" >
      		<nav class="navbar">
        		<div class="content">
          			<div class="logo">
          				<a href=""> <img src="{{ url_for('static',    filename='images/1.jpg') }}" height="32px" width="32px" style="position: absolute; top: 30px;left:10px">Focus </a>
          			</div>
          <ul class="menu">
            <li><a  href="{{ url_for('index')}}">  Home</a></li>
            <div class="dropdown">
            	<li><a href="">Explore</a></li>
            	<div class="dropdown-content">
            		<a class="sub1" href="{{ url_for('python')}}">First Year
            		<div class="sub_menu1">
            			<span>Python</span>
            		</div>
            	</a>

            		<a class="sub2" href="{{ url_for('DS')}}">Second year
            		<div class="sub_menu2">
            			<span class="other2">Data Structures</span>
            		</div>
            	</a>

            		<a class="sub3" href="{{ url_for('ML')}}">Third year
            		<div class="sub_menu3">
            			<span class="other3">Machine Learning</span>
            		</div>
            	</a>

            		<a class="sub4" href="{{ url_for('DL')}}">Fourth year
            		<div class="sub_menu4">
            			<span class="other4">Deep Learning</span>
            		</div>
            	</a>

            	</div>

        	</div>
            <li><a href="{{ url_for('index')}}" > {{username}}  </a></li>
            <li><a href="{{ url_for('Login')}}" > Log Out</a></li>

          </ul>

        		</div>
      		</nav>
      </div>
    </header>
</section>

<section id="bg">
	<div class="image">
		<img width="100%" height="400px" src="{{ url_for('static',    filename='images/bg.jpg') }}">
	</div>
	<div class="text">
		<img src="{{ url_for('static',    filename='images/DS.png') }}" style="position: absolute; height: 100px; width: 100px;left: -150px; border-radius: 50%;">
		<span>Data Structures</span>
		<br><br><span class="para">Master Algorithmic Programming Techniques. Learn algorithms through programming and advance your software engineering or data science career. </span>
	</div>
</section>


<section id="vd">
	<div class="video">
		<iframe width="600" height="500" src="https://www.youtube.com/embed/Nfah5kVh8VA?autoplay=1" allowfullscreen></iframe>
	</div>
</section>

<section id="points">
	<div class="dot">
		<ul>
			<br><br><li>Debugging</li>
			<br><br><li>Dynamic Programming</li>
			<br><br><li>Binary Search Tree</li>
			<br><br><li>Priority Queue</li>
		</ul>
	</div>
	<div class="dot2">
		<ul>
			<br><br><li>Algorithms</li>
			<br><br><li>Hash Table</li>
			<br><br><li>Graph Theory</li>
			<br><br><li>Stack and Queues</li>
		</ul>
	</div>
	<div class="dot3">
		<ul>
			<br><br><li>Suffix Tree</li>
			<br><br><li>Knuth-Morris-Pratt Algo</li>
			<br><br><li>Linear Programming</li>
            <br><br><li>Np-Completeness</li>
		</ul>
	</div>
	
</section>
</section>
<section id="References">
    <div class="re">
        <span class="ref">References</span>
        <br><br><span><a class = "link" href="https://www.coursera.org/specializations/data-structures-algorithms">Data Structures Coursera</a></span>
    	<br><a href="https://drive.google.com/uc?export=download&id=1TS7UGrGw0fHOMp4UShLAYDn_QyCJI33G">
        <i  class="fa fa-file-pdf-o" style="font-size:44px; color:red; padding-left: 180px; padding-top: 20px; padding-bottom: 40px;"></i>
        <span style="font-size: 23px; color:white; font-family: 'Poppins',sans-serif; left:5px">   Introduction to Algorithms.pdf</span></a>
	</div>
</section>

<section id="footer">
	<div class="container">
		<div class="cp">
			<footer>Copyright;&copy 2021 FOCUS.co</footer>
		</div>
	</div>
</section>
</body>
</html>